@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$base-color: #0b0f12;
$alter-color: #3f5874;
$accent-color: #f1c77a;

@layer utilities {
    .hd-screen {
        height: 100dvh;
    }

    .btn {
        @apply font-bold py-2 px-4 rounded;
    }

    .btn-red {
        @apply bg-red-500 text-white;
    }

    .btn-red:hover {
        @apply bg-red-700;
    }

    .btn {
        @apply font-bold py-2 px-4 rounded;
    }

    .btn-green {
        @apply bg-green-500 text-white;
    }

    .btn-green:hover {
        @apply bg-green-700;
    }

    .btn-yellow {
        @apply bg-yellow-500 text-white;
    }

    .btn-yellow:hover {
        @apply bg-yellow-700;
    }

    .pink-light {
        background-color: #ff5aad;
    }

    .ubuntu-light {
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .ubuntu-regular {
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .ubuntu-medium {
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .ubuntu-bold {
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .ubuntu-light-italic {
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .ubuntu-regular-italic {
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .ubuntu-medium-italic {
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .ubuntu-bold-italic {
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .lato-thin {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .lato-light {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .lato-regular {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .lato-bold {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .lato-black {
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .lato-thin-italic {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .lato-light-italic {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .lato-regular-italic {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .lato-bold-italic {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .lato-black-italic {
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-style: italic;
    }
    .bg-main{
        background-color: $base-color;
    }
    .max-w-50{
        max-width: 50%;
    }
    .min-w-50{
        min-width: 50%;
    }
    .test {
        background-image: linear-gradient(to top, #181f28, #2f415605), url("@/assets/test.jpg");
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav .router-link-active {
    border-bottom: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, $base-color 0%, $alter-color 100%);
}

.v-line::before {
    content: '';
    border-image-source: linear-gradient(0deg, $base-color 0%, $alter-color 100%);
    border-image-slice: 1;
    border-left: 4px solid;
    background-position: left;
    position: absolute;
    left: -4px;
    top: 0;
    height: 100%;
    width: 4px;
}