<template>
    <div class="w-fit h-fit min-w-64 bg-gray-300 grid grid-cols-4 grid-rows-3 text-center">
        <!-- Home Team -->
        <div class="h-full col-span-1 row-span-1 aspect-square border-b-2 flex items-center justify-center">
            A
        </div>
        <div class="col-span-2 row-span-1 border-l-2 border-b-2 p-2 flex items-center justify-center">
            Team Name A
        </div>
        <div class="h-full col-span-1 row-span-1  aspect-square border-b-dashed border-b-2 border-l-2 flex items-center justify-center">0</div>
        <!-- Away Team -->
        <div class="col-span-1 row-span-1 aspect-square flex items-center justify-center">
            A
        </div>
        <div class="col-span-2 row-span-1 border-l-2 flex items-center justify-center">
            Team Name A
        </div>
        <div class="col-start-4 border-l-2 flex items-center justify-center">0</div>
        <div class="col-span-4 flex justify-center items-center">2020-08-11</div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';


export default defineComponent({
    name: "MatchCarouselEntry",
})
</script>
<style scoped>
.border-b-dashed{
    border-bottom-style: dashed;
}
</style>