<template>
    <div class="w-full mb-5 flex flex-row overflow-scroll">
        <MatchesCarouselEntry/>
        <MatchesCarouselEntry/>
        <MatchesCarouselEntry/>
        <MatchesCarouselEntry/>
        <MatchesCarouselEntry/>
        <MatchesCarouselEntry/>
        <MatchesCarouselEntry/>
    </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import MatchesCarouselEntry from './MatchCarouselEntry.vue'

export default defineComponent({
    name: 'MatchesCarousel',
    components:{
        MatchesCarouselEntry,
    },
    props:{
    }
})
</script>