<template>
    <div class="w-full">
        <div class="w-full grid grid-flow-row lg:grid-flow-col lg:grid-cols-2 grid-cols-1 md:py-5">
            <RouterLink v-if="getArticles()[0]"
                :to="{ name: 'Article', params: { articleId: getArticles()[0]?.articleId } }">
                <NewsPreviewBig :article="getArticles()[0]?.article" />
            </RouterLink>
            <div class="w-full h-full">
                <NewsPreviewSmall v-for="(item, index) in this.getArticles().slice(1, 6)" :key="index"
                    :article="item.article" />
            </div>
        </div>
        <MatchCarousel class="mb-5" />
        <CardsGrid />
    </div>
</template>

<script lang="ts">
import { MatchCarousel } from "@/features/Leagues";
import { NewsPreviewSmall, NewsPreviewBig, CardsGrid } from "@/features/News/components";
import { ArticleClass } from "@/types";
import { defineComponent } from "vue"
import { RouterLink } from "vue-router";

export default defineComponent({
    name: "HomeView",
    components: {
        NewsPreviewBig,
        NewsPreviewSmall,
        MatchCarousel,
        CardsGrid,
        RouterLink
    },
    data() {
        return {
            latestArticles: [] as Array<{ articleId: number, article: ArticleClass }>,
        }
    },
    created() {
        this.pullArticles()
    },
    methods: {
        getArticles() {
            return this.$store.getters['ArticleStore/articlesByPage'](0, 10);
        },
        pullArticles() {
            this.$store.dispatch('ArticleStore/pullArticles', { page: 0, size: 10 })
        }

    }
})
</script>
