<template>
    <div class="flex flex-row justify-between text-black uppercase">
            <div class="flex items-center justify-center ubuntu-bold text-4xl col-span-2">CWL Sport</div>
            <nav class="w-100 grid grid-flow-col grid-rows-1 align-middle ubuntu-bold">
                <RouterLink :to="{ path: '/' }" class="flex items-center justify-center h-16 p-5">Home</RouterLink>
                <RouterLink :to="{ path: '/news' }" class="flex items-center justify-center h-16 p-5">News</RouterLink>
                <RouterLink :to="{ path: '/leagues' }" class="flex items-center justify-center h-16 p-5">Leagues</RouterLink>
            </nav>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { RouterLink } from 'vue-router';


export default defineComponent({
    name: 'NavBar',
    components: {
        RouterLink,
    }
})
</script>