<template>
    <div class="w-full mb-5 grid lg:grid-cols-4 gap-5 md:grid-cols-1 max-md:px-2">
        <RouterLink v-for="item in getArticles().slice(6,getArticles().length)" :key="item.articleId" :to="{ name: 'Article', params: { articleId: item.articleId }}">
            <Card :article="item.article" />
        </RouterLink>
    </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { Card } from '.';

export default defineComponent({
    name: "CardsGrid",
    components: {
        Card,
    },
    props: {
    },
    data() {
        return {
            currentPage: 0,
        }
    },
    created() {
        this.pullArticles();
        window.addEventListener('scroll', this.handleScroll);
    },
    methods: {
        getArticles: function () {
            return this.$store.getters['ArticleStore/articlesByPage'](this.currentPage, 10);
        },
        handleScroll() {
            const bottomOfWindow =
                document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;

            if (bottomOfWindow) {
                this.currentPage += 1
                this.pullArticles()
                console.log(this.currentPage)
            }
        },
        pullArticles() {
            var tmp = this.$store.getters['ArticleStore/articlesByPage'](this.currentPage, 10)
            if (tmp.length < this.currentPage * 10 + 10) {
                this.$store.dispatch('ArticleStore/pullArticles', { page: this.currentPage, size: 10 })
            }
        }
    },
    unmounted() {
        window.removeEventListener('scroll', this.handleScroll);
    },
})
</script>