<template>
    <div class="h-full aspect-square drop-shadow bg-white rounded">
        <div class="h-2/3 p-2 test bg-center bg-cover" :style="backgroundImageStyle()" ></div>

        <div class="h-1/3 p-2 line-clamp-2">
            <div class="ubuntu-bold text-xl" v-html="article?.getHeaderText()"></div>
            <div v-html="article?.getAbstract()"></div>
        </div>
    </div>
</template>
<script lang="ts">
import { ArticleClass, ImageHandler } from '@/types';
import { PropType, defineComponent } from 'vue';

export default defineComponent({
    name: "NewsCard",
    props:{
        article: { type: Object as PropType<ArticleClass>, required: true },
    },
    data(){
        return{
            imgHandler: new ImageHandler(),
        }
    },
    methods: {
        backgroundImageStyle() {
            if(this.article.photos[0] == undefined)
                return
            this.$store.dispatch('ImageStore/pullImage', {id : this.article?.photos[0]?.id})
            this.imgHandler = this.$store.getters['ImageStore/getImage'](this.article?.photos[0]?.id)?.Image;
            return {
                'background-image': "linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent), url('" + this.imgHandler?.getUrl() + "')",
            }
        }
    }
})
</script>