<template>
    <div class="h-full p-6 bg-center bg-cover text-white flex flex-col justify-end align-bottom lg:mr-5 max-lg:min-h-96 test" :style="backgroundImageStyle()">
        <div class="v-line relative pl-2">
            <h1 class="text-2xl ubuntu-medium text-wrap line-clamp-1" v-html="article?.getHeaderText()"/>
            <span class="text-wrap line-clamp-2" v-html="article?.getAbstract()"/>
        </div>
    </div>
</template>

<script lang="ts">
import { ArticleClass } from "@/types";
import { PropType, defineComponent } from "vue";
import { ImageHandler } from "@/types";

export default defineComponent({
    name: "NewsPreviewBig",
    props: {
        article: { type: Object as PropType<ArticleClass>, required: true },
    },
    data() {
        return {
            imgHandler: new ImageHandler(),
        }
    },
    mounted(){
        this.$store.dispatch('ImageStore/pullImage',{id: this.article.photos[0]?.id})
    },
    methods: {
        backgroundImageStyle() {
            var image = this.$store.getters['ImageStore/getImage'](this.article.photos[0].id)
            this.imgHandler = image?.Image
            return {
                'background-image': "linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent), url('" + this.imgHandler?.getUrl() + "')",
            }
        }
    }
})
</script>

<style scoped>
.test {
    background-image: linear-gradient(to top, #181f28, rgba(47, 65, 86, 0.02) 40%), url("@/assets/test.jpg");
}
</style>