<template>
    <div class="h-fit w-full flex border-y-2 py-2 max-md:px-2">
        <div class="h-full min-w-28 aspect-square bg-center bg-cover test" :style="backgroundImageStyle()" />
        <div class="px-2">
            <h1 class="text-xl ubuntu-bold line-clamp-1" v-html="article?.getHeaderText()"></h1>
            <span class="text-wrap line-clamp-2" v-html="article?.getAbstract()"></span>
        </div>
    </div>
</template>

<script lang="ts">
import { ArticleClass, ImageHandler } from '@/types';
import { PropType, defineComponent } from 'vue';


export default defineComponent({
    name: "NewsPreviewSmall",
    props: {
        article: { type: Object as PropType<ArticleClass>, required: true },
    },
    data() {
        return {
            imgHandler: new ImageHandler(),
        }
    },
    mounted(){
        this.$store.dispatch('ImageStore/pullImage',{id: this.article.photos[0]?.id})
    },
    methods: {
        backgroundImageStyle() {
            var image = this.$store.getters['ImageStore/getImage'](this.article.photos[0]?.id)
            this.imgHandler = image?.Image
            return {
                'background-image': "linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent), url('" + this.imgHandler?.getUrl() + "')",
            }
        }
    }
})
</script>