<template>
  <div class="w-full flex justify-center overflow-x-hidden min-h-dvh">
    <div class="h-full w-full md:w-10/12">
      <NavBar/>
      <RouterView class="w-full h-fit"></RouterView>
    </div>  
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { NavBar } from '@/components';
import { RouterView } from 'vue-router';

export default defineComponent({
  name: "App",
  components:{
    NavBar,
    RouterView,
  }
})
</script>